.typographyFont {
  font-family: "lucida grande", "lucida sans unicode", "lucida", "helvetica", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif"
}

.sizeH1 {
  font-size: 6em
}

.sizeH2 {
  font-size: 3.75em
}

.sizeH3 {
  font-size: 3em
}

.sizeH4 {
  font-size: 2.125em
}

.sizeH5 {
  font-size: 1.5em
}

.sizeH6 {
  font-size: 1.25em
}

.sizeTitle {
  font-size: 1em
}

.sizeBody {
  font-size: 1em
}

.sizeButton {
  font-size: 0.875em
}
