.typographyFont {
	display: block;
	margin: 0;
}

.sizeH1 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 6rem;
	line-height: 1;
	letter-spacing: -0.01562em;
}

.sizeH2 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 3.75rem;
	line-height: 1;
	letter-spacing: -0.00833em
}

.sizeH3 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
  font-size: 3rem;
	line-height: 1.04;
	letter-spacing: 0em
}

.sizeH4 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
  font-size: 2.125rem;
	line-height: 1.17;
	letter-spacing: 0.00735em
}

.sizeH5 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
  font-size: 1.5rem;
	line-height: 1.33;
	letter-spacing: 0em
}

.sizeH6 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.6;
	letter-spacing: 0.00735em
}

.sizeTitle {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
  font-size: 1rem;
	line-height: 1.2;
	letter-spacing: 0.00938em
}

.sizeBody {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
  font-size: 0.875rem;
	line-height: 1.57;
	letter-spacing: 0.01071em;
}

.sizeButton {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
  font-size: 0.875rem;
	line-height: 1.5;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
}

.txCenter {
	text-align: center;
}

.txLeft {
	text-align: left;
}

.txRight {
	text-align: right;
}

.txInherit {
	text-align: inherit;
}

.txJustify {
	text-align: justify;
}

.noWarp {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
